%table{:board => 0, :class => "table table-striped"}
      %tbody
        %tr
          %td
            %h4 Item
          %td
            %h4 Description
          %td
            %h4 Price
          %td
            %h4 Quantity
          %td
            %h4 Subtotal
        - @order.items.group(:id).each do |item|
          %tr{:class => "item item-#{item.id}"}
            %td= link_to item.name, item_path(item)
            %td #{item.description}
            %td= number_to_currency(item.price)
            %td #{@order.order_items.where(item_id:item.id).count}
            %td= number_to_currency(item.price * @order.order_items.where(item_id:item.id).count)