%h1 User Dashboard
%p 
  = "First Name: #{@user.first_name}"
%p 
  = "Last Name: #{@user.last_name}"
%p 
  = "Phone Number: #{@user.phone_number}"
%p 
  = "Birthday: #{@user.birthday}"
%p 
  = "Email: #{@user.email}"
%br
= image_tag @user.profile_picture