%section.trips
  - if @index.nil? == false
    - @index.each do |trip, listing|
      .booked-trips
        .trip-details
          %h3= link_to listing.name, trip_path(trip)
          %h4= listing.address
          %h4= "Arrival: #{trip.start_date}"
          %h4= "Departure: #{trip.end_date}"
          = image_tag listing.user_profile_picture, :class => "profile-pic trips-host-profile-pic"
          %h4= listing.user_first_name
          = button_to 'Message Host', conversation_path(trip.conversation.id), :method => :get, :class => 'message-host-btn'
          - if trip.trip_status == 'cancelled'
            %h4 Trip has been cancelled
          - else
            = button_to 'Cancel Trip', trip_path(trip, :trip_status => 'cancelled'), method: :put, :class => 'cancel-trip-btn'
        .trip-image
          - if listing.listing_images
            = image_tag listing.listing_images.first, :class => "property-image trips-property_image"
