.form_container
  .user_forms
    %h2 Login
    = form_for(:session, url: login_path, :html => {:class => "form-horizontal"}) do |f|
      .field.form-group
      = f.label :email, 'Email', class: 'control-label col-sm-4'
      .col-sm-8
      = f.text_field :email
      .field.form-group
      = f.label :password, 'Password', class: 'control-label col-sm-4'
      .col-sm-8
      = f.password_field :password
      .actions.form-group
        .col-sm-offset-12
          = f.submit "Sign In", class: 'login-submit'
    %h3
      Don't have an account? #{link_to "Create Account", new_user_path}
