.form_container
  .user_forms
    %h2 Login
    = form_for(:session, url: login_path) do |f|
      = f.label :email, class: 'label'
      = f.text_field :email, class: 'text_input'
      = f.label :password, class: 'label'
      = f.password_field :password, class: 'text_input'
      = f.submit "Sign in", class: 'login-submit'
    %h3
      Don't have an account? #{link_to "Create Account", new_user_path}
