<h3>All Properties</h3>

<% if @properties.empty? %>
  Sorry, there were no properties that matched your search criteria!
<% else %>
  <h3><%="Properties avaialable between #{@check_in} and #{@check_out}" if @check_in && @check_out %></h3>
  <h4><%="Properties with #{@number_of_guests} or more guests allowed" if @number_of_guests%></h4>
  <div class="results">
  <% @cities.each do |city| %>
    <h3>Properties in <%= city %></h3>
      <% @properties.each do |property| %>
        <% if property.city == city %>
          <h4><%= link_to property.name, property_path(property) %></h4>
          <%= link_to image_tag(property.image_url, width: 500), property_path(property) %><br><br>
        <% end %>
      <% end %>
  <% end %>
  </div>

<% end %>
