%section.listings.cards.horizontal_cards
  = @listings.each do |listing|
    .card.horizontal_card.listing_#{listing.id}
      .card_image.horizontal_card_image
        =link_to image_tag(listing.image_url), listing_path(listing.id)
      .card_title.horizontal_card_title
        %h4= listing.title
      .card_location.horizontal_card_location
        %h5= "#{listing.city.name}, #{listing.state.name}"
      .card_last_updated.horizontal_card_last_updated
        %p= "Last updated on #{listing.updated_at}"
      = form_for [:host, listing] do |l|
        .form-group
          = f.collection_select(:status, Listing.statuses, :first, :first, select: listing.status)
      = button_to "Preview", listing_path(listing.id)
