%section.listings.cards.vertical_cards
  = @listings.each do |listing|
    .listings.cards.vertical_cards
      .card.vertical_card.listing
        .card_image.vertical_card_image
          = link_to image_tag(listing.listing_images.first.property_image), listing_path(listing)
        .card_price.vertical_card_price
          %h5
            = listing.price
        .card_title.verticle_card_title
          %h5
            = listing.name
        .card_room_type.verticle_card_room_type
          %p
            = "#{listing.room_type} | #{listing.beds} beds"
        .card_review.verticle_card_review
          -# %p= listing.average_rating
