%table{:class => "table-conversations"}
  %thead
    %tr
      %th.title
        %h2
          %strong All Messages
      %th
  %tbody{:class => "conversations"}
    %tr.spacer
      %td
        %h1
    - @conversations.each do |conversation|
      %tr{:class => "conversation conversation-#{conversation.id}"}
        %td.profile-picture-column
          = image_tag listing.user_profile_picture
        %td.conversation-name-date
          %p= conversation.trip.listing.user.first_name
          %p= conversation.messages.last.updated_at.strftime("%B %d, %Y")
        %td.message-snippet
          = link_to conversation.messages.last.content[0..50].gsub(/\s\w+$/,'...'), conversation_path(conversation)
        %td
          %p= conversation.trip.trip_status
          %p= number_to_currency(conversation.trip.listing.price)

    - if @conversations.count == 0
      %tr
        %td.container.conversation-container
          %h3.empty-container No Messages...
