%h1 Create a New Listing
%br
.some_container
  = form_for(@listing) do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :description
      = f.text_area :description, size: "100x10"
    %p
      = f.label :house_rules
      = f.text_area :house_rules, size: "100x10"
    %p
      = f.label :accomodates
      = f.number_field :accomodates, in: 0..20
    %p
      = f.label :bathrooms
      = f.number_field :bathrooms, in: 0..20
    %p
      = f.label :bedrooms
      = f.number_field :bedrooms, in: 0..20
    %p
      = f.label :beds
      = f.number_field :beds, in: 0..20
    %p
      = f.label :price
      = f.number_field :price, in: 0..1000
    %p 
      = f.submit "Create"
    %br