%h1 Create a New Listing
%br
.new_listing_container
  = form_for(@listing) do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :description
      = f.text_area :description, size: "50x10"
    %p
      = f.label :house_rules
      = f.text_area :house_rules, size: "50x10"
    %p
      = f.label :accomodates
      = f.number_field :accomodates, in: 0..20
    %p
      = f.label :bathrooms
      = f.number_field :bathrooms, in: 0..20
    %p
      = f.label :bedrooms
      = f.number_field :bedrooms, in: 0..20
    %p
      = f.label :beds
      = f.number_field :beds, in: 0..20
    %p
      = f.label :price
      = f.number_field :price, in: 0..1000
    %p
      = f.label :property_type
      = f.select :property_type, [["house", 0], ["apartment", 1], ["guesthouse", 2], ["boat", 3], ["treehouse", 4]]
    %p
      = f.label :bed_type
      = f.select :bed_type, [["king", 0], ["queen", 1], ["double", 2], ["twin", 3], ["single", 4], ["couch", 5]]
    %p
      = f.label :room_type
      = f.select :room_type, [["entire home", 0], ["private room", 1], ["shared room", 2]]
    %p
      = f.label :pet_type
      = f.select :pet_type, [["no pets", 0], ["cat", 1], ["dog", 2], ["cat and dog", 3], ["misc", 4]]
    %br
    .address_form
      = f.fields_for :address do |address_form|
        %p 
          = address_form.label :street_address
          = address_form.text_field :street_address
        %p 
          = address_form.label :street_address_2
          = address_form.text_field :street_address_2
        %p 
          = address_form.label :city
          = address_form.text_field :city
        %p 
          = address_form.label :state
          = address_form.text_field :state
        %p 
          = address_form.label :zip_code
          = address_form.text_field :zip_code
    %p 
      = f.submit "Create"
    %br