%h1 Create a New Listing
%br
.new_listing_container
  = form_for @listing, as: :host, url: user_host_listings_path(@listing.user), method: :post do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :description
      = f.text_area :description, size: "50x10"
    %p
      = f.label :house_rules
      = f.text_area :house_rules, size: "50x10"
    %p
      = f.label :accomodates
      = f.number_field :accomodates, in: 0..20
    %p
      = f.label :bathrooms
      = f.number_field :bathrooms, in: 0..20
    %p
      = f.label :bedrooms
      = f.number_field :bedrooms, in: 0..20
    %p
      = f.label :beds
      = f.number_field :beds, in: 0..20
    %p
      = f.label :price
      = f.number_field :price, in: 0..1000
    %p
      = f.label :property_type
      = f.select :property_type, [["House", :house], ["Apartment", :apartment], ["Guesthouse", :guesthouse], ["Boat", :boat], ["Treehouse", :treehouse]]
    %p
      = f.label :bed_type
      = f.select :bed_type, [["King", :king], ["Queen", :queen], ["Double", :double], ["Twin", :twin], ["Single", :single], ["Counch", :couch]]
    %p
      = f.label :room_type
      = f.select :room_type, [["Entire Home", :entire_home], ["Private Room", :private_room], ["Shared Room", :shared_room]]
    %p
      = f.label :pet_type
      = f.select :pet_type, [["No Pets", :no_pets], ["Cat(s)", :cat], ["Dog(s)", :dog], ["Cat(s) and Dog(s)", :cat_and_god], ["MISC", :misc]]
    %br
    .cancellation_form
      = f.fields_for :cancellation do |cancellation_form|
        %p 
          = cancellation_form.label :name
          = cancellation_form.select :name, [["Flexible", :flexible],["Moderate", :moderate],["Strict", :strict]]
    %br
    .address_form
      = f.fields_for :address do |address_form|
        %p 
          = address_form.label :street_address
          = address_form.text_field :street_address
        %p 
          = address_form.label :street_address_2
          = address_form.text_field :street_address_2
        %p 
          = address_form.label :city
          = address_form.text_field :city
        %p 
          = address_form.label :state
          = address_form.text_field :state
        %p 
          = address_form.label :zip_code
          = address_form.text_field :zip_code
    %p 
      = f.submit "Create"
    %br