.navbar-search
  = form_tag(listings_path, method: "get", id: "search") do
    = text_field_tag(:search_city, params[:search_city], placeholder: "City", value: nil)
    = text_field_tag(:search_state, params[:search_state], placeholder: "State")
    = text_field_tag(:search_zip, params[:search_zip], placeholder: "Zip Code")
    = submit_tag("Search", name: nil)