-if @results
  - @results.each do |result|
    .item
      .card-image
        - if result.listing_image
          = link_to image_tag(result.listing_image), listing_path(result)
      .card-details
        %span.price.badge
          $#{result.price}
        %span.name
          = result.name
        %span.room
          = "#{result.room_type} | #{result.beds} beds"
      .card-details
        - if current_user && current_user.roles.exists?(name: "host") && result.user_id == current_user.id
          %p
            = link_to "Edit Listing", edit_user_host_listing_path(current_user, result)
