- if @listings
  - @listings.each do |listing|
    .item
      .card-image
        - if listing.listing_images.first
          = link_to image_tag(listing.listing_images.first.property_image), listing_path(listing)
      .card-details
        %span.price.badge
          $#{listing.price}
        %span.name
          = listing.name
        %span.room
          = "#{listing.room_type} | #{listing.beds} beds"
      .card-details
        - if current_user && current_user.roles.exists?(name: "host") && listing.user_id == current_user.id
          %p
            = link_to "Edit Listing", edit_user_host_listing_path(current_user, listing)
