<div class="new_listing_container">
  <h1>Create an Experience</h1>
  <div class="form experience-form">
    <%= form_for @experience do |f| %>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
      <br />
      <%= f.label :duration, "Duration" %>
      <%= f.text_field :duration %>
      <br />
      <%= f.label :tagline, "Tagline" %>
      <%= f.text_field :tagline %>
      <br />
      <%= f.label :what, "What We'll Do" %>
      <%= f.text_field :what %>
      <br />
      <%= f.label :where, "Where We're Going" %>
      <%= f.text_field :where %>
      <br />
      <%= f.label :provisions, "What I'll Provide" %>
      <%= f.text_field :provisions %>
      <br />
      <%= f.label :notes, "Notes" %>
      <%= f.text_field :notes %>
      <br />
      <%= f.label :group_size, "Group Size" %>
      <%= f.text_field :group_size %>
      <br />
      <%= f.label :guest_requirements, "Guest Requirements" %>
      <%= f.text_field :guest_requirements %>
      <br />
      <%= f.label :price, "Price" %>
      <%= f.text_field :price %>
      <br />
      <%= f.label :host_description, "Host Description" %>
      <%= f.text_field :host_description %>
      <br />
      <%= f.label :street_address, "Street Address" %>
      <%= f.text_field :street_address %>
      <br />
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>
      <br />
      <%= f.label :state, "State" %>
      <%= f.text_field :state %>
      <br />
      <%= f.label :zipcode, "Zipcode" %>
      <%= f.text_field :zipcode %>
      <br />
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <br />

      <%= f.label :cancellation_policy_type, "Cancellation Policy Type" %>
      <%= f.text_field :cancellation_policy_type %>
      <br />
      <%= f.submit "Create Experience" %>
    <% end %>
  </div>
</div>
