%h1 "Experience #{@experience.title}"

.experience-box
  .experience-title-box
    %p=@experience.title
    %p=@experience.city
    %p=@experience.tagline
  .experience-category-box
    -@experience.experience_categories.each do |cat|
      %p.cat-name=cat.name

    %p"Hosted by: #{@experience.user.full_name}"
    %p"Duration: #{@experience.duration}"
    %p"Provisions: #{@experience.provisions}"
    .host-profile-pic
      =image_tag(@experience.user.profile_picture)
  .experience-what-box
    %p"What We'll Do: #{@experience.what}"
  .experience-host-provides-box
    %p"What I'll Provide: #{@experience.provisions}"
  .experience-notes-box
    %p"Notes: #{@experience.notes}"
  .experience-where-box
    %p"Where We'll Be: #{@experience.where}"
    .experience-map

  .host-block
    %p"About your host, #{@experience.user.first_name}"
    %p=@experience.host_description
  .host-contact
    -# =link_to messaging system
  .available-dates
    -# =link_to see available-dates popup
  .experience-reviews
    -# import some reviews
  .experience-extras
    %p"Extra Info"
    %p"Group Size: #{@experience.group_size}"
    %p"Guest Requirements: #{@experience.guest_requirements}"
    %p"Cancellation Policy Type: #{@experience.cancellation_policy_type}"

.experience-featured-image
  -@experience.experience_images.each do |image|
    =image_tag(image.image)
  .experience-price
    %p "$#{@experience.price} per person"
  .experience_date
    -# =link_to see available-dates popup

-if current_user && current_user.id == @experience.user.id
  .host-edit-link
    =link_to "Edit Your Experience", edit_experience_path
