!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CloneyIslandAirbnb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .user-widget
      -if current_user
        ="Welcome #{current_user.first_name}!"
        =link_to "Log Out", logout_path
      -else
    .navbar-main
      .navbar-header
        .nav-left.logo.nav-item
          = link_to image_tag("air_bnb_logo.png", :class => 'nav-logo nav-left-item'), root_path
          .search.nav-item-left
            = render "shared/search_partial"
        .navbar-user-types.nav-item
          %span=link_to "Sign in with Facebook", "/auth/facebook"
          -if current_user && current_user.host? == false
            %span=link_to "Become a Host", new_user_host_listing_path(current_user)
          - if current_user
            %span=link_to "Messages", "#" #needs Messages path
            %span=link_to "Trips", trips_path
            %span=link_to "Sign Out", logout_path
            -if current_user.admin?
              %span=link_to "Admin Dashboard", "#" #admin_dashboard_path
            -if current_user.traveler?
              %span=link_to "Dashboard", user_dashboard_index_path(current_user)
              -# =link_to "Inbox", user_messages_center_page_path
              -# =link_to "Your Listing", user_listings_path
              -# =link_to 'Your Trips', user_trips_path
              -# =link_to 'Profile', user_profile_path
              -# =link_to 'Account', user_account_path
          - else
            %span=link_to "Sign Up", new_user_path
            %span=link_to "Sign In", login_path

    -flash.each do |name, message|
      .notice
        =message
    .container-main
      = yield

    -# .container.footer
    -#   .item
    -#     %span Airbnb
    -#
    -#   .item
    -#     %span Discover
    -#
    -#   .item
    -#     %span Hosting
