!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CloneyIslandAirbnb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .user-widget
      -if current_user
        ="Welcome #{current_user.first_name}!"
        =link_to "Log Out", logout_path
      -else
    .navbar-main
      .navbar-header
        .nav-left.logo.nav-item
          = link_to image_tag("air_bnb_logo.png", :class => 'nav-logo nav-left-item'), root_path
          .search.nav-item-left
            = render "shared/search_partial"
        .nav-right.nav-item
          .navbar-user-types.nav-item
            - if current_user
              %span=link_to "Messages", conversations_path
              %span.signin-dropdown.nav-item
                %span=link_to "Profile", "#", class: 'dropbtn'
                #hostDropdown.signin-dropdown-content
                  %span=link_to "Profile", user_dashboard_index_path(current_user)
                  %br
                  %span=link_to "Sign Out", logout_path
            - else
              %span=link_to "Sign Up", new_user_path
              %span=link_to "Sign In", login_path
              %span=link_to "Sign in with Facebook", "/auth/facebook"
          .navbar-user-types.sub
            %span.host-dropdown
              -if current_user && current_user.host?
                %span=link_to "Host", "#", class: 'dropbtn'
              -else
                %span=link_to "Become a Host", "#", class: 'dropbtn'

              #hostDropdown.host-dropdown-content
                -if current_user && current_user.host?
                  %span=link_to "Host Reservations", host_dashboard_index_path
                  %span=link_to "Host Listings", user_host_listings_path(current_user)
                -else
                  %span=link_to "Become a Host", login_path
                %br
                %span=link_to "Host an Experience", new_experience_path
            %span=link_to "Experiences", experiences_path
            %span=link_to "Trips", trips_path

    -flash.each do |name, message|
      -if !message.is_a?(Array)
        %div.flash=sanitize(message)
      -else
        -message.each do |message|
          %div.flash=message

    .container-main
      = yield

